body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.content {
	min-height: 88vh;
	margin-bottom: 17px;
}

.dashboard {
	padding-top: 100px;
}

.ui.center.aligned.header,
.ui.centered.header {
	margin-bottom: 80px;
	font-size: 50px;
}

.ui.menu {
	background-color: #00d82b;
	height: 12vh;
}

.ui.vertical.segment {
	background-color: #00d82b;
	bottom: 0px;
	width: 100%;
	height: 100px;
}

.login-form {
	height: 80vh;
	margin: 0px;
}

.right-item {
	margin: 0px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.ui.table thead th {
	background-color: rgb(197, 197, 197);
	color: black;
}

.ui.table tfoot th {
	background-color: rgb(197, 197, 197);
	color: black;
}

.ui.button {
	background-color: #00d82b;
	color: white;
}

.ui.message {
	background-color: #00d82b;
	color: white;
	box-shadow: none;
	line-height: 2.5em;
}

.chart-size {
	width: 50%;
	height: 100px;
}

.info-box {
	display: block;
	min-height: 90px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	margin-bottom: 15px;
}

.info-box-content-l {
	padding: 5px 10px;
	margin-left: 90px;
}

.info-box-content-r {
	padding: 5px 10px;
	margin-right: 90px;
	line-height: 1em;
}

.ui.grid>[class*="two column"].row>.column {
	width: 20%!important;
}

.ui.grid>.centered.column, .ui.grid>.row>.centered.column {
  margin-top: 5em;
}

.ui.header:first-child {
	margin-top: 1em;
}

.ui.container {
	padding-bottom: 3em;
}

#invoicingTable {
	margin-top: 2em;
	height:500px;
	width:1000px;
	overflow-x:	scroll;
}

.invoice-box {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color: #555;
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
	text-align: right;
}

.invoice-box table tr.top table td {
	padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #333;
}

.invoice-box table tr.information table td {
	padding-bottom: 40px;
}

.invoice-box table tr.heading td {
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.invoice-box table tr.details td {
	padding-bottom: 20px;
}

.invoice-box table tr.item td{
	border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
	border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
	border-top: 2px solid #eee;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	.invoice-box table tr.top table td {
			width: 100%;
			display: block;
			text-align: center;
	}

	.invoice-box table tr.information table td {
			width: 100%;
			display: block;
			text-align: center;
	}
}

/** RTL **/
.rtl {
	direction: rtl;
	font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
	text-align: right;
}

.rtl table tr td:nth-child(2) {
	text-align: left;
}
.ui.grid > [class*="two column"].row > .column {
	width: 20% !important;
}
